<header></header>
<div class="container">
  <div class="content">
    <ng-container *ngIf="applicationStateService.connectionError$ | async; else activityretrieved">
      <div>
        There seems to be a problem with the WiFi connection. Please make sure
        you are connected to the right network.
      </div>
    </ng-container>
    <ng-template #activityretrieved>
      <div *ngIf="(applicationStateService.activationState$ | async) === activationState.NoActivation">
        There is no session scheduled right now. We're happy to see you later.
      </div>
      <div *ngIf="(applicationStateService.activationState$ | async) === activationState.Scheduled">
        Session {{ (applicationStateService.session$ | async)?.title }} is scheduled to start at
        {{ (applicationStateService.activation$ | async)?.startTime | date:'H:mm'}} Uhr. Stay tuned!
      </div>
      <div *ngIf="(applicationStateService.activationState$ | async) === activationState.Ended">
        The session has ended. Thanks for joining us.
      </div>
      <div *ngIf="(applicationStateService.activationState$ | async) === activationState.Started">
        <div>Live now:</div>
        <div class="session-title">{{ (applicationStateService.session$ | async)?.title }}</div>
        <div class="stream-list">
          <div *ngFor="let stream of (applicationStateService.streams$ | async)" class="stream-list-item">
            <i *ngIf="selectedStream == stream" class="fa fa-check" aria-hidden="true">
            </i>
            <a class="stream-link" (click)="selectStream(stream)" [ngClass]="{selected: selectedStream == stream,
                'other-selected': selectedStream && selectedStream != stream}">
              {{ stream.title }}
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <div *ngIf="(applicationStateService.activationState$ | async) !== activationState.Started" class="refresh-btn"
      (click)="refresh()">Refresh</div>
  </div>
  <div *ngIf="(applicationStateService.activationState$ | async) === activationState.Started" class="content">
    <audio-player [selectedStream]="selectedStream?.streamingSourceId"></audio-player>
  </div>
</div>
<div class="about-link"><a (click)="showAboutOverlay()">Info/About</a></div>
<about [(isHidden)]="isAboutOverlayHidden"></about>