<header></header>
<div class="content">
  <div *ngIf="loading; else loadingDone">
    Connecting...
  </div>
  <ng-template #loadingDone>
    <ng-container *ngIf="isInErrorState; else activation">
      <div>
        There seems to be a problem with the WiFi connection. Please make sure
        you are connected to the right network.
      </div>
    </ng-container>
    <ng-template #activation>
      <div *ngIf="activationState?.state === 'NoActivation'">
        There is no session scheduled right now. We're happy to see you later.
      </div>
      <div *ngIf="activationState?.state === 'Scheduled'">
        Session {{ activationState?.session.title }} is scheduled to start at
        {{ activationState?.activation.startTime | date:'H:mm'}} Uhr. Stay tuned!
      </div>
      <div *ngIf="activationState?.state === 'Ended'">
        The session has ended. Thanks for joining us.
      </div>
      <div *ngIf="activationState?.state === 'Started'">
        <div>Live now:</div>
        <div class="session-title">{{ activationState?.session.title }}</div>
        <div class="stream-list">
          <div *ngFor="let stream of activationState?.streams" class="stream-list-item">
            <i *ngIf="selectedStream == stream" class="fa fa-check" aria-hidden="true">
            </i>
            <a class="stream-link" (click)="selectStream(stream)" [ngClass]="{selected: selectedStream == stream,
                'other-selected': selectedStream && selectedStream != stream}">
              {{ stream.title }}
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
  <div *ngIf="activationState?.state !== 'Started'" class="refresh-btn clickable" (click)="refresh()">Refresh
  </div>
</div>
<audio-player *ngIf="activationState?.state === 'Started'" [selectedStream]="selectedStream?.streamingId">
</audio-player>
<div class="about-link clickable"><a (click)="showAboutOverlay()">Info/About</a></div>
<about [(isHidden)]="isAboutOverlayHidden"></about>