/* You can add global styles to this file, and also import other style files */

/* Add application styles & imports to this file! */
@import "~@angular/material/theming";

// Always include only once per project
@include mat-core();

// Import theme
@import "theme.scss";

// Specify theme class eg: <body class="my-theme"> ... </body>
.live-theme {
  // Use our theme with angular-material-theme mixin
  @include angular-material-theme($live-theme);
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  min-width: 320px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
}

* {
  box-sizing: border-box;
}
