/* You can add global styles to this file, and also import other style files */
@import "./app/variables.scss";

/* Add application styles & imports to this file! */
@import "~@angular/material/theming";

// Always include only once per project
@include mat-core();

// Import theme
@import "theme.scss";

// Specify theme class eg: <body class="my-theme"> ... </body>
.live-theme {
  // Use our theme with angular-material-theme mixin
  @include angular-material-theme($live-theme);
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  min-width: 320px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1.4em;
}

[hidden] {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.content-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin: auto;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.table-border {
  border: solid 1px $table-grey;
  border-radius: 3px;
}

.table-row-border {
  border-top: solid 1px $table-grey;
}

.table-head {
  height: 50px;
  font-weight: 600;
}

.table-row {
  height: 41px;
}
