<div class="navigation">
  <a routerLink="/home"><span class="close"></span></a>
</div>
<div class="container">
  <div class="content">
    <div class="about">
      <h1>About</h1>
      <p> This app is developed by Chris Dörnen.
        It is still in beta stage, which means that it may not be working as intended.
        If you encounter any issues please report them.</p>
      <p>Due to technical reasons, the sound signal you hear is delayed around half a second
        compared to the live audio.</p>
    </div>
  </div>
</div>
<div class="version-info">v{{this._version}}/{{this._revision}}</div>