@import "../../../variables.scss";

:host {
  position: fixed;
  padding-bottom: $padding-bottom;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cpu-usage {
  width: 35px;
  display: inline-block;
  text-align: right;
}
