:root {
  --container-spacing: 35px;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.4285em;
  color: #424242;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--container-spacing);
}

.content {
  width: 100%;
  text-align: center;
}

.icon {
  color: lightgray;
  margin: 10px 0;
}