:host {
  height: 100vh;
  display: block;
}

.session-title {
  font-size: 31px;
  font-weight: 600;
}

.stream-list {
  margin: 33px 0 0 0;
}

.stream-list-item {
  margin: 7px 0 0;
}

.stream-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 25px;
}

.about-link {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100vw;
  margin-bottom: 20px;
}

.about-link a {
  color: var(--primary-text-color);
  text-decoration: none;
}