<app-header></app-header>
<div class="container">
  <div class="content">
    <ng-container *ngIf="!_dataService.isLoading && !_dataService.session; else sessionRetrieved">
      <div *ngIf="_dataService.connectionError">
        <i class="fa fa-exclamation-circle fa-2x icon" aria-hidden="true"></i>
        <div>There seems to be a problem with the WiFi connection. Please check your settings.</div>
      </div>
      <div *ngIf="!_dataService.connectionError">
        <div>There is no session scheduled right now. We're happy to see you later.</div>
      </div>
    </ng-container>
    <ng-template #sessionRetrieved>
      <div *ngIf="_dataService.activationState === _dataService.ActivationState.ActivatedSessionScheduled">
        Session {{session?.title}} is scheduled to start at {{activation?.timeStarting}}. Stay tuned!
      </div>
      <div *ngIf="_dataService.activationState === _dataService.ActivationState.ActivatedSessionEnded">
        The session has ended. Thanks for joining us.
      </div>
      <div *ngIf="_dataService.activationState === _dataService.ActivationState.ActivatedSessionStarted">
        <div>Live now:</div>
        <div class="session-title">{{_dataService.session?.title}}</div>
        <div class="stream-list">
          <div *ngFor="let stream of _dataService.streams" class="stream-list-item">
            <a class="stream-link" routerLink="/streams/audio/{{stream.id}}">{{stream.title}}</a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="about-link"><a routerLink="/about">Info/About</a></div>