.container {
  text-align: center;
}

.container:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  margin-right: -0.25em;
}

.content {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}