@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Livestream App</h1>
    <p class="lead">The Livestream App provides a live audio stream of the service.</p>
    <p><a href="" class="btn btn-primary btn-lg">Go to dashboard</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Configure streams</h2>
        <p>
            Easily configure the existing live streams or add new ones. 
        </p>
        <p><a class="btn btn-default" href="">Configure streams</a></p>
    </div>
    <div class="col-md-4">
        <h2>See errors and log files</h2>
        <p>Get an overview of the applications status, view or download the server log.</p>
        <p><a class="btn btn-default" href="">Check application</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get statistics</h2>
        <p>Get the latest statistics about connected clients and quality ratings.</p>
        <p><a class="btn btn-default" href="">See statistics</a></p>
    </div>
</div>