<Streams xmlns="InvalidNamespace">
  <Stream>
    <Id>deutsch</Id>
    <Title>Deutsch</Title>
    <CountryCode>de</CountryCode>
    <Description>Originalton</Description>
    <Audio>Mikrofonarray (Realtek High Definition Audio)</Audio>
    <StartOnServiceStartup>true</StartOnServiceStartup>
  </Stream>
  <Stream>
    <Id>englisch</Id>
    <Title>English</Title>
    <CountryCode>gb</CountryCode>
    <Audio>Mikrofon (2- USB Audio Device)</Audio>
    <StartOnServiceStartup>false</StartOnServiceStartup>
  </Stream>
</Streams>