<streams xmlns="LiveStreamsConfigXsd">
  <stream>
    <ide>Deutsch</ide>
    <countryCode>de</countryCode>
    <description>Originalton</description>
    <input>Mikrofon (2- USB Audio Device)</input>
  </stream>
  <stream>
    <id>Englisch</id>
    <countryCode>en</countryCode>
    <description>Übersetzung</description>
    <input>Mikrofon (3- USB Audio Device)</input>
  </stream>
</streams>