<title-bar>
  <h2>New Stream</h2>
  <div>
    <button mat-stroked-button color="primary" routerLink="..">
      Cancel
    </button>
  </div>
</title-bar>
<content>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="titleFormGroup">
      <form [formGroup]="titleFormGroup">
        <ng-template matStepLabel>Enter a title</ng-template>
        <p>The title will be displayed to listeners in the app.</p>
        <mat-form-field>
          <mat-label>Stream title</mat-label>
          <input matInput placeholder="English" formControlName="titleCtrl" required>
        </mat-form-field>
      </form>
      <button class="next-btn" mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step [stepControl]="deviceIdFormGroup">
      <form [formGroup]="deviceIdFormGroup">
        <ng-template matStepLabel>Select input device</ng-template>
        <mat-radio-group formControlName="deviceIdCtrl">
          <mat-radio-button *ngFor="let device of devices" [value]="device.id">
            <div class="device-radio-btn">{{device.id}}</div>
            <volume-meter [simpleDesign]="true" [streamingId]="device.streamingId"> </volume-meter>
          </mat-radio-button>
        </mat-radio-group>
      </form>
      <button class="refresh-btn" mat-button (click)="refresh()">Refresh device list</button>
      <br>
      <button class="next-btn" mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div mat-dialog-actions>
        <button mat-button mat-raised-button color="primary" (click)="saveStream()">Save</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</content>