<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <ul>
        <li (click)="router.navigate(['dashboard']); sidenav.toggle()">Dashboard</li>
        <li (click)="router.navigate(['streams']); sidenav.toggle()">Streams</li>
        <li (click)="router.navigate(['sessions']); sidenav.toggle()">Sessions</li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <logo light="true"></logo>
      <shutdown-button></shutdown-button>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>