@import "../../variables.scss";

$nav-padding: 20px;

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ul {
    list-style: none;
    padding-left: $nav-padding;

    a {
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }

    a:focus {
      outline: none;
    }

    mat-icon {
      vertical-align: middle;
    }

    .menu-item {
      font-size: 17px;
      vertical-align: middle;
      margin: 0 10px;
    }

    .is-active {
      color: var(--primary-color);
    }
  }
}

mat-sidenav {
  .nav-header {
    padding: 0 $nav-padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  width: 300px;

  .version-info {
    position: absolute;
    padding-bottom: $padding-bottom;
    bottom: 0;
    left: 0;
    padding-left: 20px;
  }
}

.nav-space {
  height: 35px;
}
