<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <ul>
        <li (click)="navigate('dashboard'); sidenav.close()">
          <mat-icon>dashboard</mat-icon>
          <span class="menu-item">Dashboard</span>
        </li>
        <li class="nav-space"></li>
        <li (click)="navigate('streams'); sidenav.close()">
          <mat-icon>mic</mat-icon>
          <span class="menu-item">Streams</span>
        </li>
        <li (click)="navigate('sessions'); sidenav.close()">
          <mat-icon>wifi_tethering</mat-icon>
          <span class="menu-item">Sessions</span>
        </li>
        <li class="nav-space"></li>
        <li (click)="navigate('settings'); sidenav.close()">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-item">Settings</span>
        </li>
      </ul>
    </div>
    <div class="version-info">v{{ this.version }}/{{ this.revision }}</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header (menuButtonClicked)="sidenav.open()"></header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <footer class="content-container"></footer>
  </mat-sidenav-content>
</mat-sidenav-container>