@import "../../variables.scss";

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      cursor: pointer;
    }

    mat-icon {
      vertical-align: middle;
    }

    .menu-item {
      font-size: 17px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
}

mat-sidenav {
  width: 300px;

  .version-info {
    position: absolute;
    padding-bottom: $padding-bottom;
    bottom: 0;
    left: 0;
    padding-left: 20px;
  }
}

.nav-space {
  height: 35px;
}