@import "../../variables.scss";

.content-container {
  margin: 0 15px;
}

logo {
  width: 80px;
  margin-top: 7px;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      cursor: pointer;
    }

    mat-icon {
      vertical-align: middle;
    }

    .menu-item {
      font-size: 17px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
}

mat-sidenav {
  width: 300px;

  .version-info {
    position: absolute;
    padding-bottom: $padding-bottom;
    bottom: 0;
    left: 0;
    padding-left: 20px;
  }
}

mat-sidenav-content {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
  }

  .main {
    height: 100%;
    padding-top: 50px;
  }
}

.nav-space {
  height: 35px;
}
