<LiveStreams xmlns="LivestreamsConfigXsd">
  <LiveStream>
    <Id>deutsch</Id>
    <Title>Deutsch</Title>
    <!--CountryCode and Descriptions missing-->
    <AudioInput>Mikrofonarray (Realtek High Definition Audio)</AudioInput>
    <StartOnServiceStartup>true</StartOnServiceStartup>
  </LiveStream>
</LiveStreams>