<div class="navigation">
  <a routerLink="/home">Done</a>
</div>
<div class="container">
  <div class="content">
    <div class="title">{{stream?.title}}</div>
    <div id="playercontrols" class="player">
      <div class="player-controls">
        <i id="play-button" class="fa fa-play fa-2x" aria-hidden="true"> </i>
      </div>
      <div id="volume-control">
        <i class="fa fa-volume-off" aria-hidden="true"> </i>
        <div id="volumebar">
          <div id="volume-total"></div>
          <div id="volume-current"></div>
          <div id="volume-handle"></div>
        </div>
        <i class="fa fa-volume-up" aria-hidden="true"> </i>
      </div>
    </div>
  </div>
</div>