<header></header>
<div class="about">
  <p>
    liveo is the app for local live streaming. For more information visit
    <a href="https://liveo.app" target="_blank">https://liveo.app</a>
  </p>
  <p>
    It is still in beta stage, which means that it may not be working as intended. If you encounter any issues
    please report them.
  </p>
  <p>
    Due to technical reasons, the sound signal you hear is delayed around half
    a second compared to the live audio.
  </p>
  <p class="version-info">v{{ this.version }}/{{ this.revision }}</p>
</div>
<div class="close clickable" (click)="hide()">Back</div>
