.navigation {
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: right;
  padding: var(--container-spacing);
}

.navigation a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 27px;
  width: 1px;
  background-color: black;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.about {
  padding: 0 var(--container-spacing);
  text-align: center;
  margin: 80px auto;
  max-width: 300px;
}

.about h1 {
  font-size: 25px;
  margin-bottom: 40px;
}

.about p {
  font-size: 16px;
}

.version-info {
  position: absolute;
  bottom: 0;
  color: #a9a9a9;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.about-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: 100;
  background-color: white;
}

.hidden {
  display: none;
}
