<mat-card>
  <div class="activation-details">
    <h3 class="title">Current activity</h3>
    <div *ngIf="!activation; else activationexisting">
      <p>There is no session activated.<br>Activate a session to start streaming.</p>
      <button mat-raised-button color="primary" (click)="openActivationDialog()">Activate session </button>
    </div>
    <ng-template #activationexisting>
      <div>Active session</div>
      <div class="session-title">{{session?.title}}</div>
      <div>Started</div>
      <div>{{session?.timeStarted * 1000 | date:'H:m'}} Uhr</div>
      <div *ngIf="activation?.timeEnding">Ending: {{activation?.timeEnding * 1000 | date:'H:m'}}</div>
      <button mat-raised-button (click)="deleteActivation()">Deactivate session</button>
    </ng-template>
  </div>
</mat-card>