<mat-card class="activation-details">
  <div *ngIf="!(activationService.activation$ | async); else activationexisting">
    <p>There is no session activated.<br>Activate a session to start streaming.</p>
    <button mat-raised-button color="primary" (click)="openActivationDialog()">
      Activate session
    </button>
  </div>
  <ng-template #activationexisting>
    <button mat-raised-button class="delete-activation" (click)="openActivationDeletionDialog()">
      Deactivate session
    </button>
  </ng-template>
</mat-card>