<mat-card>
  <div class="activation-details">
    <h3 class="title">Current activity</h3>
    <div *ngIf="!activation; else activationexisting">
      <p>There is no session activated.<br>Activate a session to start streaming.</p>
      <button mat-raised-button color="primary" (click)="openActivationDialog()">Activate session </button>
    </div>
    <ng-template #activationexisting>
      <div>Active session</div>
      <div class="session-title">{{session?.title}}</div>
      <div *ngIf="activation?.startTime">Start time
        <div>{{activation?.startTime * 1000 | date:'H:mm'}} Uhr</div>
      </div>
      <div *ngIf="activation.endTime">End time
        <div>{{activation?.endTime * 1000 | date:'H:mm'}}</div>
      </div>
      <button mat-raised-button (click)="deleteActivation()">Deactivate session</button>
    </ng-template>
  </div>
</mat-card>