.stream-list {
  display: grid;
}

.stream {
  margin: 5px 0;
}

.label {
  font-size: 13px;
  color: whitesmoke;
}

.title {
  font-size: 20px;
  margin-bottom: 8px;
}

.more {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

.add-stream {
  height: 70px;

  .add {
  }
}