@import "../../variables.scss";

:host {
  height: 45px;
  background: $darkest-background;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

mat-icon {
  &.inactive {
    display: none;
  }
}

shutdown-button {
  &.inactive {
    display: none;
  }
}