$liveo-primary: (
  50: #ff5064,
  100: #ff5064,
  200: #ff5064,
  300: #ff5064,
  400: #ff5064,
  500: #ff5064,
  600: #ff5064,
  700: #ff5064,
  800: #ff5064,
  900: #ff5064,
  A100: #ff5064,
  A200: #ff5064,
  A400: #ff5064,
  A700: #ff5064,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$liveo-warn: (
  300: #ff5064,
  700: #ff5064,
  900: #ff5064,
  contrast: (
    300: #ff5064,
    700: #ff5064,
    900: #ff5064,
  ),
);

// Define 3 theme color, mat-palette accepts $palette-name, main, lighter and darker variants
$liveo-theme-primary: mat-palette($liveo-primary, 100, 50, 200);
$liveo-theme-accent: mat-palette($mat-blue-grey, 700, 300, 900);
$liveo-theme-warn: mat-palette($liveo-warn, 700, 300, 900);

// Create theme (use mat-dark-theme for themes with dark backgrounds)
$liveo-theme: mat-dark-theme($liveo-theme-primary, $liveo-theme-accent, $liveo-theme-warn);
