$liveo-blue: (
  50: #82afb5,
  100: #6da2a9,
  200: #568389,
  300: #568389,
  400: #568389,
  500: #568389,
  600: #568389,
  700: #568389,
  800: #568389,
  900: #568389,
  A100: #568389,
  A200: #568389,
  A400: #568389,
  A700: #568389,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$liveo-warn: (
  300: #981717,
  700: #981717,
  900: #981717,
  contrast: (
    300: #981717,
    700: #981717,
    900: #981717,
  ),
);

// Define 3 theme color, mat-palette accepts $palette-name, main, lighter and darker variants
$liveo-theme-primary: mat-palette($liveo-blue, 100, 50, 200);
$liveo-theme-accent: mat-palette($mat-blue-grey, 700, 300, 900);
$liveo-theme-warn: mat-palette($liveo-warn, 700, 300, 900);

// Create theme (use mat-dark-theme for themes with dark backgrounds)
$liveo-theme: mat-dark-theme($liveo-theme-primary, $liveo-theme-accent, $liveo-theme-warn);
