.lc-header {
    position: absolute;
    width: 100vw;
}

::ng-deep .lc-header__logo .live-logo {
    fill: var(--main-color);
    width: 90px;
}

.lc-header__logo {
    text-align: center;
    margin-top: 5px;
}