.setting-row {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h4 {
  text-transform: uppercase;
}

.setting-row-disabled {
  color: grey;
}

mat-divider {
  &.settings-divider {
    position: relative;
    margin: 5px 0;
  }
}
