:host {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.activation-state {
  &.active {
    font-weight: 600;
  }

  &:not(.active) {
    color: grey;
  }
}

.dot {
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: grey;
}

.active .dot {
  background-color: white;
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
