<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SHELL_PATH" value="C:\Projekte\Livestream-App\Live\dist\apps\service\main.js" />
    <add key="SHELL_ENABLE_LOG" value="false" />
    <add key="PORT" value="80" />
    <add key="PRODUCTION" value="true" />
    <add key="SIMULATE" value="false" />
    <add key="FILESOURCE" value="false" />
    <add key="STANDALONE" value="true" />
    <add key="DATABASE" value="" />
    <add key="FFMPEGPATH" value="" />
    <add key="ShellLog" value="true" />
  </appSettings>
</configuration>