input {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  text-shadow: 0 0 0 gray;
  caret-color: transparent;
}

input:focus {
  outline: none;
}

.logo-preview {
  height: 40px;
}

img {
  height: 100%;
}
