<title-bar>
  <h2>Theme</h2>
  <div>
    <button mat-stroked-button (click)="openClient()">
      <i class="material-icons">call_made</i>
      Open the app
    </button>
  </div>
</title-bar>
<div class="content-container">
  <mat-card *ngIf="theme">
    <div class="setting-row">
      <div>App color</div>
      <div>
        <input class="clickable"
          [(colorPicker)]="theme.color"
          [style.background]="theme.color"
          [cpAlphaChannel]="'disabled'"
          [cpPosition]="'left'"
          (colorPickerSelect)="saveColor($event)" />
      </div>
    </div>
    <mat-divider class="settings-divider"></mat-divider>
    <div class="setting-row">
      <div>App logo</div>
      <div class="logo-preview clickable">
        <img src="{{theme.logo}}">
      </div>
    </div>
  </mat-card>
  <div class="actions">
    <button mat-stroked-button (click)="restoreDefaults()">
      Restore defaults
    </button>
  </div>
</div>
