<title-bar>
  <h2>Theme</h2>
</title-bar>
<div class="content-container">
  <mat-card *ngIf="theme">
    <div class="setting-row">
      <div>App color</div>
      <div>
        <input class="clickable"
          [(colorPicker)]="theme.color"
          [style.background]="theme.color"
          [cpAlphaChannel]="'disabled'"
          [cpPosition]="'left'"
          (colorPickerSelect)="saveColor($event)" />
      </div>
    </div>
    <mat-divider class="settings-divider"></mat-divider>
    <div class="setting-row">
      <div>App logo</div>
      <div class="logo-preview clickable">
        <img src="{{theme.logo}}">
      </div>
    </div>
  </mat-card>
</div>
