<title-bar>
  <h2>Theme</h2>
</title-bar>
<div class="content-container">
  <mat-card *ngIf="theme">
    <div class="setting-row">
      <div>Color</div>
      <div>
        <input
          [(colorPicker)]="color"
          [style.background]="color"
          [cpAlphaChannel]="'disabled'"
          [cpPosition]="'left'"
          (colorPickerSelect)="saveColor($event)" />
      </div>
    </div>
    <mat-divider class="settings-divider"></mat-divider>
    <div class="setting-row">
      <div>Logo</div>
      <div>
      </div>
    </div>
  </mat-card>
</div>
