<content>
  <activated-session-tile
    [session]="activatedSession">
  </activated-session-tile>
  <mat-divider></mat-divider>
  <activation-state-tile
    [activation]="activation"
    [activationState]="activationState">
  </activation-state-tile>
  <mat-divider></mat-divider>
  <dashboard-streams
    [streams]="activeStreams">
  </dashboard-streams>
  <mat-divider></mat-divider>
  <div>
    <button mat-raised-button color="primary"
      (click)="openActivationDeletionDialog()">
      Deactivate Session
    </button>
  </div>
</content>