@import "./../../../variables.scss";

:host {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65px 1fr auto 56px;
  grid-template-areas:
    "header"
    "content"
    "player"
    "footer";
}

header {
  grid-area: header;
}

.content {
  grid-area: content;
  align-self: center;
  justify-self: center;
  text-align: center;
  max-width: 300px;
}

audio-player {
  grid-area: player;
  align-self: center;
  justify-self: center;
  width: 240px;
  height: 160px;
}

.about-link {
  grid-area: footer;
  text-align: center;
  bottom: 0;
  width: 100vw;
  margin-bottom: 20px;
}

.session-title {
  margin-top: 3px;
  font-size: 31px;
  font-weight: 600;
}

.stream-list {
  margin: 33px 0 0 0;
}

.stream-list-item {
  margin: 7px 0 0;
}

.stream-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 25px;
}

.about-link a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.other-selected {
  opacity: 0.3;
}

.refresh-btn {
  border: 1px solid grey;
  border-radius: 20px;
  height: 40px;
  display: inline-block;
  padding: 0 29px;
  line-height: 40px;
  margin: 21px 0;

  &:hover {
    background: var(--primary-color);
    color: white;
    border: 1px solid white;
  }
}

$pulse-color: $primary-color;

.pulse {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background: $pulse-color;
  box-shadow: 0 0 0 rgba($pulse-color, 0.4);
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($pulse-color, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba($pulse-color, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($pulse-color, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($pulse-color, 0.4);
    box-shadow: 0 0 0 0 rgba($pulse-color, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba($pulse-color, 0);
    box-shadow: 0 0 0 10px rgba($pulse-color, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($pulse-color, 0);
    box-shadow: 0 0 0 0 rgba($pulse-color, 0);
  }
}
