.header {
  position: absolute;
  width: 100vw;
}

::ng-deep .header-logo.primary .live-logo {
  fill: var(--primary-color);
}

::ng-deep .header-logo.white .live-logo {
  fill: whitesmoke;
}

.header-logo {
  width: 100px;
  margin: 15px auto;
}
