<title-bar>
  <h2>Streams</h2>
  <div>
    <button mat-stroked-button color="primary" routerLink="new">
      <i class="material-icons">add</i>
      New Stream
    </button>
  </div>
</title-bar>
<content *ngIf="!loading">
  <div class="no-content-message" *ngIf="streams.length === 0; else streamsAvailable">
    There are no Streams created yet. <br>
    Click <span class="no-content-action clickable" routerLink="new">here</span> to start.
  </div>
  <ng-template #streamsAvailable>
    <mat-table [dataSource]="streams" class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deviceId">
        <mat-header-cell *matHeaderCellDef> Device Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deviceId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="valid">
        <mat-header-cell *matHeaderCellDef > </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button>
          <i *ngIf="!isDeviceAvailable(element.deviceId)" class="material-icons">error_outline</i>
        </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef > </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Delete" [matTooltipPosition]="'left'"
            (click)="openStreamDeletionDialog(element)">
            <i class="material-icons delete-icon">delete_outline</i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
</content>