<LiveStreams xmlns="LiveStreamsConfigXsd">
  <LiveStream>
    <Id>deutsch</Id>
    <Title>Deutsch</Title>
    <CountryCode>de</CountryCode>
    <Description>Originalton</Description>
    <AudioInput>Mikrofonarray (Realtek High Definition Audio)</AudioInput>
    <Port>9601</Port>
    <StartOnServiceStartup>true</StartOnServiceStartup>
  </LiveStream>
  <LiveStream>
    <Id>englisch</Id>
    <Title>English</Title>
    <CountryCode>gb</CountryCode>
    <AudioInput>Mikrofon (2- USB Audio Device)</AudioInput>
    <Port>9603</Port>
    <StartOnServiceStartup>false</StartOnServiceStartup>
  </LiveStream>
</LiveStreams>