<LiveStreams xmlns="LiveStreamsConfigXsd">
  <LiveStream>
    <Id>Deutsch</Id>
    <CountryCode>de</CountryCode>
    <Description>Originalton</Description>
    <AudioInput>Mikrofonarray (Realtek High Definition Audio)</AudioInput>
    <Port>9601</Port>
    <StartOnServiceStartup>true</StartOnServiceStartup>
  </LiveStream>
  <LiveStream>
    <Id>Englisch</Id>
    <CountryCode>gb</CountryCode>
    <AudioInput>Mikrofon (2- USB Audio Device)</AudioInput>
    <Port>9603</Port>
    <StartOnServiceStartup>false</StartOnServiceStartup>
  </LiveStream>
</LiveStreams>