:host {
  display: block;
  color: var(--primary-elements-color);
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.title {
  text-align: center;
  font-size: 22px;
}

.player-controls {
  text-align: center;
  margin: 10px 0;
}

#volume-control {
  display: grid;
  grid-template-columns: 20px auto 20px;
}

#volumebar {
  margin: 0 10px;
  position: relative;
}

#volume-total {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 1px;
  background-color: var(--primary-elements-color);
}

#volume-current {
  position: absolute;
  top: 7px;
  width: 50%;
  height: 3px;
  background-color: var(--primary-elements-color);
}

#volume-handle {
  position: absolute;
  left: 50%;
  background-color: var(--primary-elements-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.connection-info {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100vw;
  margin-bottom: 20px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}