<div [ngClass]="{'disabled': !this.selectedStreamId}" id="playercontrols" class="player">
  <div (click)="onPlayPauseClick()" class="player-controls">
    <i [ngClass]="{'fa-play': !this._isPlaying, 'fa-stop': this._isPlaying}" class="fa fa-2x" aria-hidden="true"> </i>
  </div>
  <div class="volume-control">
    <i class="fa fa-volume-off" aria-hidden="true"> </i>
    <ng5-slider [(value)]="volume" [options]="options"></ng5-slider>
    <i class="fa fa-volume-up" aria-hidden="true"> </i>
  </div>
</div>