:root {
  // --primary-color-h ,s ,l values are set during initialization in theme service
  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --lightness-transform: 10%;
  --primary-color-light-l: calc(var(--primary-color-l) + var(--lightness-transform));
  --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
}

$primary-color: var(--primary-color);
$primary-color-light: var(--color-primary-light);

$secondary-color: #1f4664;
$primary-text-color: #424242;
$primary-elements-color: #424242;
$inverse-text-color: whitesmoke;
