.device-radio-btn {
  display: flex;
}

.next-btn {
  margin-top: 10px;
}

simple-volume-meter {
  margin-left: 10px;
}

mat-radio-group {
  display: block;
  margin: 10px;
}

mat-radio-button {
  margin: 5px;
}
