.device-radio-btn {
  display: flex;
}

.next-btn {
  margin-top: 10px;
}

volume-meter {
  width: 200px;
}

mat-radio-group {
  display: block;
  margin: 10px;
}

mat-radio-button {
  margin: 5px;
  display: flex;
}
