<LiveStreams xmlns="LivestreamsConfigXsd">
  <LiveStream>
    <Id>deutsch</Id>
    <Title>Deutsch</Title>
    <CountryCode>de</CountryCode>
    <Description>Originalton</Description>
    <InputSource>Mikrofonarray (Realtek High Definition Audio)</InputSource>
    <StartOnServiceStartup>true</StartOnServiceStartup>
  </LiveStream>
  <LiveStream>
    <Id>english</Id>
    <Title>English</Title>
    <CountryCode>gb</CountryCode>
    <InputSource>Mikrofon (2- USB Audio Device)</InputSource>
    <StartOnServiceStartup>false</StartOnServiceStartup>
  </LiveStream>
</LiveStreams>