<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Nancy" version="1.4.1" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net461" />
  <package id="Ninject.Extensions.Logging" version="3.3.0" targetFramework="net461" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net461" />
</packages>