<Sessions xmlns="SessionsConfigXsd">
  <Session>
    <Id>bbd50</Id>
    <Title>Gottesdienst</Title>
    <InternalTitle>GodiStandard</InternalTitle>
    <Description>SomeDescription</Description>
    <TimeStarting>10:00:00</TimeStarting>
    <TimeEnding>11:00:00</TimeEnding>
    <TimeServerShutdown>11:05:00</TimeServerShutdown>
    <Streams>
      <StreamId>deutsch</StreamId>
      <StreamId>farsi</StreamId>
    </Streams>
  </Session>
</Sessions>
