<Sessions xmlns="StreamingSessionsConfigXsd">
  <Session>
    <Id>erstergodi</Id>
    <Title>Gottesdienst</Title>
    <TimeStarting>10:00:00</TimeStarting>
    <TimeStopping>11:00:00</TimeStopping>
    <TimeServerShutdown>11:05:00</TimeServerShutdown>
    <Streams>
      <StreamId>deutsch</StreamId>
    </Streams>
  </Session>
</Sessions>
