<StreamingSessions xmlns="StreamingSessionsConfigXsd">
  <StreamingSession>
    <Id>erstergodi</Id>
    <Title>Gottesdienst</Title>
    <TimeStarting>10:00:00</TimeStarting>
    <TimeStopping>11:00:00</TimeStopping>
    <TimeServerShutdown>11:05:00</TimeServerShutdown>
    <Livestreams>
      <LivestreamId>deutsch</LivestreamId>
    </Livestreams>
  </StreamingSession>
</StreamingSessions>
