<Streams xmlns="StreamsConfigXsd">
  <Stream>
    <Id>deutsch</Id>
    <Title>Deutsch</Title>
    <CountryCode>de</CountryCode>
    <Description>Originalton</Description>
    <InputSource>Mikrofonarray (Realtek High Definition Audio)</InputSource>
    <StartOnServiceStartup>true</StartOnServiceStartup>
  </Stream>
  <Stream>
    <Id>english</Id>
    <Title>English</Title>
    <CountryCode>gb</CountryCode>
    <InputSource>Mikrofon (2- USB Audio Device)</InputSource>
    <StartOnServiceStartup>false</StartOnServiceStartup>
  </Stream>
</Streams>
