<Streams xmlns="StreamsConfigXsd">
  <Stream>
    <Id>8b5aa</Id>
    <Title>Deutsch</Title>
    <CountryCode>de</CountryCode>
    <Description>Originalton</Description>
    <Input>Mikrofonarray (Realtek High Definition Audio)</Input>
  </Stream>
  <Stream>
    <Id>bce9e</Id>
    <Title>English</Title>
    <CountryCode>gb</CountryCode>
    <Input>Mikrofon (2- USB Audio Device)</Input>
  </Stream>
</Streams>
