<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <div class="nav-header">
      <h3>MENU</h3>
      <mat-icon class="clickable" (click)="sidenav.close()">close</mat-icon>
    </div>
    <div>
      <ul>
        <li>
          <a routerLink="dashboard" routerLinkActive="is-active" (click)="sidenav.close()">
            <mat-icon>dashboard</mat-icon>
            <span class="menu-item">Dashboard</span>
          </a>
        </li>
        <li class="nav-space"></li>
        <li>
          <a routerLink="streams" routerLinkActive="is-active" (click)="sidenav.close()">
            <mat-icon>mic</mat-icon>
            <span class="menu-item">Streams</span>
          </a>
        </li>
        <li>
          <a routerLink="sessions" routerLinkActive="is-active" (click)="sidenav.close()">
            <mat-icon>wifi_tethering</mat-icon>
            <span class="menu-item">Sessions</span>
          </a>
        </li>
        <li class="nav-space"></li>
        <li>
          <a routerLink="theming" routerLinkActive="is-active" (click)="sidenav.close()">
            <mat-icon>palette</mat-icon>
            <span class="menu-item">Theme</span>
          </a>
        </li>
        <li>
          <a routerLink="settings" routerLinkActive="is-active" (click)="sidenav.close()">
            <mat-icon>more_vert</mat-icon>
            <span class="menu-item">Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="version-info">v{{ this.version }}/{{ this.revision }}</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header (menuButtonClicked)="sidenav.open()"></header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
