<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="File" 
            xsi:type="File" 
            fileName="Logs/LivestreamServiceLog.txt" 
            layout="${longdate} | ${level:uppercase=true} | ${message}"
            archiveEvery="Day"
            archiveNumbering ="Date"
            maxArchiveFiles="31"/>
    <target name="Console" 
            xsi:type="Console" 
            layout="${longdate} | ${level:uppercase=true} | ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>