.lc-welcome {
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
}

.lc-welcome__logo {
    width: 100px;
    margin: auto;
}

::ng-deep .lc-welcome__logo .live-logo {
    fill: white;
}
