.welcome {
  background-color: var(--primary-color);
  color: var(--inverse-text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-content {
  width: 300px;
  margin: auto;
  text-align: center;
}

::ng-deep .welcome-logo .live-logo {
  fill: white;
}