.welcome {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
}

.welcome__logo {
    width: 100px;
    margin: auto;
}

::ng-deep .welcome__logo .live-logo {
    fill: white;
}