/* You can add global styles to this file, and also import other style files */

:root {
  --primary-text-color: #424242;
  --primary-elements-color: #424242;
  --inverse-text-color: whitesmoke;
}

html {
  font-size: 14px;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4285em;
  color: var(--primary-text-color);
}

* {
  box-sizing: border-box;
}

.icon {
  color: lightgray;
  margin: 10px 0;
}

.clickable {
  cursor: pointer;
}
