/* You can add global styles to this file, and also import other style files */

:root {
  --container-spacing: 35px;
  --primary-text-color: #424242;
  --primary-elements-color: #424242;
  --inverse-text-color: whitesmoke;
}

html {
  font-size: 14px;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4285em;
  color: var(--primary-text-color);
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--container-spacing);
}

.content {
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.icon {
  color: lightgray;
  margin: 10px 0;
}
